# Merged Preprocessing

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('merged.csv')
df.head(3)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,game_winner,penalty_winner,first_shooter,Shootout,team,scorer,minute,own_goal,penalty
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,TIE,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,England,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,Scotland,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74518 entries, 0 to 74517
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            74518 non-null  object
 1   home_team       74518 non-null  object
 2   away_team       74518 non-null  object
 3   home_score      74518 non-null  int64
 4   away_score      74518 non-null  int64
 5   tournament      74518 non-null  object
 6   city            74518 non-null  object
 7   country         74518 non-null  object
 8   neutral         74518 non-null  bool
 9   game_winner     74518 non-null  object
 10  penalty_winner  769 non-null    object
 11  first_shooter   182 non-null    object
 12  Shootout        74518 non-null  bool
 13  team            43189 non-null  object
 14  scorer          43139 non-null  object
 15  minute          42929 non-null  float64
 16  own_goal        43187 non-null  object
 17  penalty         43187 non-null  object
dtypes: bool(2), float64(1), int64(2), object(13)
memory usage: 9.2+ MB

In [4]:
df.dtypes

date               object
home_team          object
away_team          object
home_score          int64
away_score          int64
tournament         object
city               object
country            object
neutral              bool
game_winner        object
penalty_winner     object
first_shooter      object
Shootout             bool
team               object
scorer             object
minute            float64
own_goal           object
penalty            object
dtype: object

## Convert Data Types

In [5]:
df['date'] = pd.to_datetime(df['date'])
df['home_team'] = df['home_team'].astype('category')
df['away_team'] = df['away_team'].astype('category')
df['tournament'] = df['tournament'].astype('category')
df['city'] = df['city'].astype('category')
df['country'] = df['country'].astype('category')
df['game_winner'] = df['game_winner'].astype('category')
df['penalty_winner'] = df['penalty_winner'].astype('category')
df['first_shooter'] = df['first_shooter'].astype('category')
df['team'] = df['team'].astype('category')
df['scorer'] = df['scorer'].astype('category')
df['own_goal'] = df['own_goal'].astype('bool')
df['penalty'] = df['penalty'].astype('bool')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74518 entries, 0 to 74517
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            74518 non-null  datetime64[ns]
 1   home_team       74518 non-null  category
 2   away_team       74518 non-null  category
 3   home_score      74518 non-null  int64
 4   away_score      74518 non-null  int64
 5   tournament      74518 non-null  category
 6   city            74518 non-null  category
 7   country         74518 non-null  category
 8   neutral         74518 non-null  bool
 9   game_winner     74518 non-null  category
 10  penalty_winner  769 non-null    category
 11  first_shooter   182 non-null    category
 12  Shootout        74518 non-null  bool
 13  team            43189 non-null  category
 14  scorer          43139 non-null  category
 15  minute          42929 non-null  float64
 16  own_goal        74518 non-null  bool
 17  penalty         74518 non-null  bool
dtypes: bool(4), category(10), datetime64[ns](1), float64(1), int64(2)
memory usage: 4.7 MB